<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <fieldset class="fieldset w-xs bg-base-200 border border-base-200 p-4 rounded-box">
    <legend class="fieldset-legend">Login</legend>

    <label class="fieldset-label">User</label>
    <input formControlName="username" type="text" class="input" placeholder="User" />

    <label class="fieldset-label">Password</label>
    <input formControlName="password" type="password" class="input" placeholder="Password" />

    <!-- Spinner mostrado mientras isLoading sea true -->
    <div *ngIf="isLoading" class="flex justify-center items-center mt-4">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Cargando...</span>
      </div>
    </div>

    <!-- Botón de login -->
    <button type="submit" class="btn btn-neutral mt-4" [disabled]="isLoading">Login</button>

    <!-- Mostrar mensaje de error si hasError es true -->
    <div *ngIf="hasError.getValue()" class="alert alert-error mt-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>Error en las credenciales</span>
    </div>

    <p class="text-slate-400">
      ¿No tienes cuenta?
      <a class="text-primary">Haz click aquí para solicitar.</a>
    </p>
  </fieldset>
</form>
